:root {
    --font-family: "Roboto Mono", monospace;
    --color: #dcd6bc;
}

* {
    font-family: var(--font-family);
}

h1 {
    color: black;   
}

.container {
    width: 500px;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color);
    margin-left: 50px;
    margin-top: 20px;
    border: 10px solid var(--color);
    margin-bottom: 10px;
}

div {
    font-size: 25px;
    text-align: center;
    font-family: var(--font-family);
    /*
    width: 40px;
    height: 40px;
    border: solid 1px red;
    box-sizing: border-box;
    */
}

.gridElement {
    align-items: center;
    justify-content: center;
}

.gridElement.valid {
    width: 40px;
    height: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
}

.gridElement.bomb {
    width: 40px;
    height: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
}

.gridElement.checked {
    width: 40px;
    height: 40px;
    border: 2px solid #9c998d;
    box-sizing: border-box; //This makes emoji not centered
}

.gridElement.one {
    color: #e76346;
}

.gridElement.two {
    color: #4199d3;
}

.gridElement.three {
    color: #57da59;
}

.gridElement.four {
    color: #bb41d3;
}

.gridElement.five {
    color: #bb41d3;
}

.gridElement.six {
    color: #bb41d3;
}

.gridElement.seven {
    color: #bb41d3;
}

.gridElement.eight {
    color: #bb41d3;;
}



